/* TODO: add global styles */

:root {
  --primary: rgb(68, 88, 119);
  --secondary: rgb(146, 204, 206);
  --tertiary: rgb(49, 52, 61);
  --dark: rgb(28, 29, 33);
  --light: rgb(238, 238, 247);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

ul a {
  flex-basis: auto;
  border-bottom: 4px solid;
}

a {
  text-decoration: none;
}

.secondary-background,
#work-examples div {
  background-color: var(--secondary);
}

section > h2,
#about-me p {
  color: var(--primary);
}

/* Header Styles */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 20px 0;
  background-color: var(--tertiary);
}

h1 {
  text-align: right;
  padding: 10px 10px 10px 60px;
}

/* Nav Styles */

nav > ul {
  justify-content: flex-end;
}

nav a {
  padding: 0.33rem 1rem;
  color: var(--secondary);
  font-weight: bold;
  font-size: 1.5rem;
  border-color: var(--secondary);
  margin: 0 10px;
}

/* Hero Image Styles */

#hero-image {
  width: 100%;
  height: 200px;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

#hero-image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--primary);
  opacity: 0.35;
}

#hero-image img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
}

#hero-image h2 {
  position: absolute;
  bottom: 20px;
  right: 40px;
  padding: 5px 10px;
  font-size: 2rem;
}

/* Section Styles */

section {
  display: flex;
  margin: 40px 0;
}

section > h2 {
  text-align: right;
  border-right: 3px solid var(--primary);
  font-size: 3em;
  flex: 0 0 20%;
  min-width: 20%;
  max-width: 20%;
  padding-right: 2%;
}

.section-content {
  width: 80%;
  min-height: 100%;
  padding: 5px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* About Me Styles */

#about-me p {
  width: 90%;
  text-align: left;
  margin: 0 auto;
}

/* Work Examples Styles */

#work-examples {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 90%;
}

#work-examples > a {
  border: 6px solid var(--secondary);
  position: relative;
  overflow: hidden;
}

#work-examples > a:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--primary);
  opacity: 0.35;
}

#work-examples img {
  width: 125%;
  height: 125%;
  left: 0px;
  top: 0px;
  object-fit: cover;
}

#work-examples div {
  position: absolute;
  bottom: 5%;
  left: 0;
  padding: 5px 10px;
  color: var(--dark);
}

#work-examples h3 {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

#work-examples p {
  font-size: 0.75rem;
  font-weight: 600;
}

#first-example {
  flex: 0 0 100%;
  min-width: 100%;
  max-width: 100%;
  height: 300px;
}

.small-example {
  flex: 0 0 48%;
  min-width: 48%;
  max-width: 48%;
  height: 150px;
}

/* Contact Me Styles */

#contact-me ul {
  justify-content: space-around;
  /* height: 4rem; */
}

#contact-me a {
  font-weight: bold;
  font-size: 1.4em;
  border-color: var(--primary);
  padding: 0 0.25rem 0.25rem 0.25rem;
  margin: auto 0;
}

.tertiary-text-color {
  color: var(--tertiary);
}

/* Media Queries */

@media screen and (max-width: 768px) {
  ul {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  section > h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    gap: 1rem;
  }

  header h1 {
    padding: 1rem 60px;
    text-align: center;
  }

  #contact-me ul {
    flex-wrap: wrap;
    gap: 1rem;
    height: auto;
  }

  .small-example {
    flex: 0 0 100%;
    min-width: 100%;
    max-width: 100%;
  }

  section > h2 {
    font-size: 1.4rem;
  }
}
