/* TODO: add global styles */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* TODO: add header styles */

header {
  display: flex;
  flex-direction: row;
  height: 100px;
}

header > div {
  position: relative;
  left: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

header > a {
}

nav {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  margin: auto;
}

section {
  display: flex;
}

section > h2 {
  text-align: right;
  border-right: 3px solid black;
  font-size: 3em;
  width: 15%;
  padding-right: 2%;
}

.section-content {
  width: 80%;
}

/* TODO: add about me styles */

/* TODO: add projects styles */

/* TODO: add contact styles */

footer div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

footer a {
  font-weight: bold;
  flex-basis: auto;
}

/* TODO: add footer styles */
