/* TODO: add global styles */

* {
  margin: 0;
  padding: 0;
}

/* TODO: add header styles */

header {
  display: flex;
  flex-direction: row;
  height: 100px;
}

header > div {
  position: relative;
  left: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

header > a {
}

nav {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  margin: auto;
}

/* TODO: add about me styles */

#contact-me > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100%;
}

#contact-me a {
  font-weight: bold;
}

/* TODO: add projects styles */

/* TODO: add contact styles */

#contact-me > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 100%;
}

#contact-me a {
  font-weight: bold;
}

/* TODO: add footer styles */
